<div class="container">
  <div class="row">
    <div class="col-4">
      <img src="{{personaje?.image.medium_url}}" width="300px" max-height="500px">
    </div>
    <div class="descripcion col-8">
      <h3>{{personaje?.name}}</h3>
      <p *ngIf="personaje?.aliases"><strong>Alias: </strong> {{personaje?.aliases}}</p>
      <p *ngIf="personaje?.birthday"><strong>Birthday: </strong> {{personaje?.birthday}}</p>
      <p *ngIf="personaje?.deck"><strong>Description: </strong> {{personaje?.deck}}</p>
      <p *ngIf="personaje?.first_appeared_in_game.name"><strong>First appear:</strong> {{personaje?.first_appeared_in_game.name}}</p>
      <p><strong>Games: </strong><span *ngFor="let juego of personaje?.games">{{juego.name}} - </span></p>
      <p><strong>Enemies: </strong><span *ngFor="let enemigo of personaje?.enemies">{{enemigo.name}} - </span></p>
    </div>
  </div>
</div>
