/*Colocar en todos los componentes de la ruta*/
.container {
  margin-top: 100px;
  background-color: #ffffff;
}
/*------------------------------------------*/

.slide_juegos {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 500px;
}

.carousel-indicators li {
  background-color: white;
}

.carousel-indicators li:hover {
  background-color: #54d400;
}
