/*Colocar en todos los componentes de la ruta*/
.container {
  margin: 90px auto;
}
/*------------------------------------------*/

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}
