<div class="container-fluid cabecera">
  <div class="superior">
    <h1 class="titulo">SPORTS NEWS</h1>
    <!-- <img src="../assets/laliga.png" width="220px" height="220px" alt="Liga BBVA"> -->
    <!-- <select name="liga" id="liga" [(ngModel)]="ligue">
      <option #espana value="espana" selected="selected">Liga Española</option>
      <option #inglaterra value="inglaterra">Liga Inglesa</option>
      <option #francia value="francia">Liga Francesa</option>
    </select> -->
    <div class="ligas">
      <a href="" (click)="eligeLiga()">Liga Española</a>
      <a href="" (click)="eligeLiga()">Liga Inglesa</a>
      <a href="" (click)="eligeLiga()">Liga Francesa</a>
    </div>
  </div>
  <!-- <div [ngSwitch]="ligue">
    <div *ngSwitchCase="'espana'" class="equipos"><div *ngFor="let equipo of equipos_espana"><div><img src="./assets/equipos/espana/{{equipo}}.png" (click)='muestra(equipo)' width='30px' height='30px'>
    </div></div></div>
    <div *ngSwitchCase="'inglaterra'" class="equipos"><div *ngFor="let equipo of equipos_inglaterra"><div><img src="./assets/equipos/inglaterra/{{equipo}}.png" (click)='muestra(equipo)' width='30px' height='30px'>
    </div></div></div>
    <div *ngSwitchCase="'francia'" class="equipos"><div *ngFor="let equipo of equipos_francia"><div><img src="./assets/equipos/francia/{{equipo}}.png" (click)='muestra(equipo)' width='30px' height='30px'>
    </div></div></div>
  </div> -->
</div>
